<h2>My Heroes</h2>
<div class="w-35rem">
  <p-list-box [options]="heroesWithTeamsEquipment()" optionValue="id" (onChange)="onItemChange($event)">
    <ng-template let-item pTemplate="item" class="hero-link">
      <div class="hero text-2xl cursor-pointer w-full flex align-items-center">
        <span class="badge flex justify-content-center align-items-center text-3xl w-3rem border-round flex-shrink-0">{{ item.id }}</span>
        <span class="flex-row justify-content-center white-space-nowrap">{{ item.name }}</span>
        <span class="m-2" [ngStyle]="{ 'background-color': getStatusColor(item.status) }">{{ item.status }}</span>
        <span class="m-2" [ngStyle]="{ 'background-color': item.teamColor }">{{ item.teamName }}</span>
        <span>{{ item.equipments }}</span>
      </div>
    </ng-template>
  </p-list-box>
  <p-button class="clear border-round-lg flex flex-column justify-content-center w-14rem mt-6" label="Add New Hero" (click)="this.addNewHero()"/>
</div>
