.go-back-button {
  background-color: var(--background-color);

  &:hover {
    background-color: var(--hover-color);
  }

  &:disabled {
    background-color: var(--background-disabled-color);
    color: var(--background-disabled-color);
    cursor: auto;
  }
}

:host ::ng-deep .dialog {
  .p-dialog-content {
    background-color: var(--background-color);
  }
  .p-dialog-header {
    background-color: var(--background-color);
  }
  .p-dialog-footer {
    background-color: var(--background-color);
  }
}

.button {
  background-color: var(--route-background-color);
  color: var(--text-color);
    &:hover {
        background-color: var(--hover-color);
    }
}

