<p-dialog [visible]="visible()" [header]="hero()!.name + ' Details!' | uppercase" class="dialog border-round text-2xl">
  @if (hero()) {
    <div class="flex flex-column gap-3 p-3">
      <p class="text-2xl">id: {{ hero()!.id }}</p>
      <p>
        <label class="text-2xl">Hero name:</label>
        <input class="text-2xl" [(ngModel)]="hero()!.name" placeholder="name" />
      </p>
      <p class="text-2xl">Max Weight: {{ hero()!.maxWeight }}</p>
      <div class="flex flex-column gap-2">
        <label class="text-2xl">Equipment:</label>
        <p-autoComplete
          [(ngModel)]="selectedEquipment"
          [suggestions]="filteredEquipment"
          (completeMethod)="filterEquipment($event)"
          placeholder="Search equipment..."
          [dropdown]="true"
          [multiple]="true"
          appendTo="body"
          class="text-xl w-full"
        />
      </div>
      <div class="flex flex-column gap-2">
        <label class="text-2xl">Team:</label>
        <p-autoComplete
          [(ngModel)]="selectedTeam"
          [suggestions]="filteredTeams"
          (completeMethod)="filterTeam($event)"
          placeholder="Search team..."
          [dropdown]="true"
          appendTo="body"
          class="text-xl w-full"
        />
      </div>
      <div class="flex flex-column gap-2">
        <label class="text-2xl">Status:</label>
        <p-autoComplete
          [(ngModel)]="selectedStatus"
          [suggestions]="filteredStatus"
          (completeMethod)="filterStatus($event)"
          placeholder="Search Status..."
          [dropdown]="true"
          appendTo="body"
          class="text-xl w-full"
        />
      </div>
    </div>
  }
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center gap-3 w-full">
      @for (btn of footerButtons; track btn.label) {
        <p-button
          [label]="btn.label"
          (click)="btn.action()"
          class="button w-6rem h-5rem border-round-xl flex align-items-center justify-content-center"/>
      }
    </div>
  </ng-template>
</p-dialog>
