<div class="flex justify-content-center">
  <div class="text-3xl gap-3">
    @for (equipment of equipments(); track equipment.id) {
      <div class="equipments mb-3 border-round-xl w-15rem h-4rem flex flex-row align-items-center gap-2">
        <span class="flex-shrink-0 m-1">{{equipment.id}}</span>
        <span class="flex-grow-1 text-center overflow-hidden">
          {{equipment.type | uppercase}}
        </span>
        <span class="flex-shrink-0">{{equipment.icon}}</span>
      </div>
    }
  </div>
</div>