.equipments {
  background-color: var(--background-color);
  &:hover {
    background-color: var(--hover-color);
  }
}

.clear {
  background-color: var(--background-color);

  &:hover {
    color: var(--hover-text-color);
    background-color: var(--hover-color);
  }
}

.status-dot {
  width: 0.6rem;
  height: 0.6rem;

  &.status-used {
    background-color: grey;
  }

  &.status-available {
    background-color: green;
  }
}