.clear {
  background-color: var(--background-color);

  &:hover {
    color: var(--hover-text-color);
    background-color: var(--hover-color);
  }
}

.searchbar {
  background-color: var(--background-color);
}