@import 'primeflex/primeflex.css';

:root {
  --hover-color: #2c6278;
  --background-color: #d1cdcd;
  --hover-text-color: white;
  --background-disabled-color: #eee;
  --background-disabled-text-color: #ccc;
  --background-active-color: black;
  --text-color: black;
  --message-title-color: #A80000;
  --route-background-color: #0497e4;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: black;
}

button:hover {
  background-color: black;
  color: white;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.p-dialog-content {
  background-color: var(--background-color);
}

.p-dialog-header {
  background-color: var(--background-color);
}

.p-dialog-footer {
  background-color: var(--background-color);
}
