<div class="flex justify-content-center">
    <input pInputText type="text" placeholder="Search heroes/equipment" (input)="searchQuery.set($any($event.target).value)" class="dashboard-search p-3 w-20rem mb-3 border-round-lg text-2xl"/>
</div>
<p-card class="text-center text-3xl">Top Heroes</p-card>
<div class="mt-5 flex flex-row justify-content-center gap-3">
  @for (hero of filteredHeroes(); track hero.id) {
    <p-button
      class="route border-round-xl w-10rem h-8rem flex justify-content-center"
      [label]="hero.name"
      [routerLink]="['/', appRoutes.HERO_DIALOG, hero.id]" />
  }
</div>
<div class="mt-5">
  <p-card class="text-center text-3xl">Top Teams</p-card>
  <div class="mt-5 flex flex-row justify-content-center gap-3">
    @for (team of filteredTeams(); track team.id) {
      <p-button
        class="route border-round-xl w-10rem h-8rem flex justify-content-center"
        [label]="team.name"
        [style.background-color]="team.color"
        [routerLink]="['/', appRoutes.TEAM_DIALOG, team.id]"/>
    }
  </div>
</div>
