<p-card class="text-center text-3xl">Top Heroes</p-card>
<div class="mt-5 flex flex-row justify-content-center gap-3">
  @for (hero of heroes(); track hero.id) {
    <p-button
      class="route border-round-xl w-10rem h-8rem flex justify-content-center"
      [label]="hero.name"
      [routerLink]="['/', appRoutes.DETAIL, hero.id]" />
  }
</div>
<div class="mt-5">
  <p-card class="text-center text-3xl">Top Teams</p-card>
  <div class="mt-5 flex flex-row justify-content-center gap-3">
    @for (team of teams(); track team.id) {
      <p-button
        class="route border-round-xl w-10rem h-8rem flex justify-content-center"
        [label]="team.name"
        [style.background-color]="team.color"
        [routerLink]="['/', appRoutes.TEAM_DIALOG, team.id]"/>
    }
  </div>
</div>
