.route {
  background-color: var(--route-background-color);
  color: var(--hover-text-color);
}

.route:hover {
  background-color: var(--hover-color);
}

.dashboardSearch {
  background-color: var(--background-color);
}
